<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
                             http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>welcome.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>UserUpdateServlet</servlet-name>
    <servlet-class>com.example.UserUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdateServlet</servlet-name>
    <url-pattern>/UserUpdateServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>BillDeleteServlet</servlet-name>
    <servlet-class>com.example.BillDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BillDeleteServlet</servlet-name>
    <url-pattern>/BillDeleteServlet</url-pattern>
  </servlet-mapping>
  
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>
  </jsp-config>
</web-app>
